{% set column_height = 7 %}
{% if ports | length < column_height %}
{% set column_height = (ports | length) %}
{% endif %}
{% set total_columns = ports | length | column_calc(height = column_height) %}
{% set max_ports = ports | length %}
<table class="outer">
    {% for i in range(start=0, end=column_height, step=1) %}
    <tr>
        {% for j in range(start=0, end=total_columns, step=1) %}
        <td>
            {% set port_n = (j * total_columns) + i %}
            {% if port_n < max_ports %}
            {% set port = ports | nth(n=port_n) %}
            <table class="inner" style="background-color: {{port.status | csscolor}}">
                <tr>
                    <td>
                        {{port.last_update | format_timeago}}
                    </td>
                    <td><b><a href="/port/{{port.label}}/" target="_blank">{{ port.label }}</a></b></td>
                    <td>
                        {{port.status | format_status}}
                    </td>
                </tr>
                <tr>
                    <td>{{port.info_items | get_manuf}}</td>
                    <td>{{port.info_items | get_model}}</td>
                    <td>{{port.info_items | get_sn}}</td>
                </tr>
                <tr>
                    <td colspan="3">{{port.current_stage}}</td>
                </tr>
                <tr>
                    {% if port.status | is_finished %}
                    <td><button onclick="abortJob('{{port.label}}')">New Job</button></td>
                    {% else %}
                    <td><button onclick="abortJob('{{port.label}}')">Abort Job</button></td>
                    {% endif %}
                </tr>
            </table>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>