<table>
    <tr>
        <td><b>{{port.label}}</b></td>
    </tr>
    <tr>
        <td>Current stage:</td>
        <td>{{port.current_stage}}</td>
        <td>Current status:</td>
        <td style="background-color: {{port.status | csscolor}}">{{port.status}}</td>
        <td>Start time:</td>
        <td>{{port.job_started}} ({{port.job_started | format_timeago}})</td>
        <td>Last update:</td>
        <td>{{port.last_update}} ({{port.last_update | format_timeago}})</td>
    </tr>
    <tr>
        <td>Controls:</td>
        <td><button onclick="abortJob()">Abort Job</button></td>
    </tr>
</table>