<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/assets/css/xterm.css" />
    <script src="/assets/js/xterm.js"></script>
    <script src="/assets/js/addon-attach.js"></script>
    <style type="text/css">
        #terminal {
            width: 100%;
            height: 100%;
        }
        #header {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="header">
        {% include "port-header.html" %}
    </div>
    <div id="terminal"></div>
    <div id="devinfo">
        {% include "port-devinfo.html" %}
    </div>
</body>
<script>
    var term = new Terminal();
    term.open(document.getElementById('terminal'));
    const webSocket = new WebSocket("serial")
    const attachAddon = new AttachAddon.AttachAddon(webSocket);
    term.loadAddon(attachAddon);

    async function abortJob() {
        const response = await fetch("abort");
        if (response.ok) {
            term.clear();
        }
    }

    function createReloader(divId, page) {
        async function reloadHeader() {
            const response = await fetch(page);
            const data = await response.text();
            document.getElementById(divId).innerHTML = data;
        }

        setInterval(reloadHeader, 1000);
    }

    createReloader("header", "header.html");
    createReloader("devinfo", "devinfo.html");
</script>
</html>