[Unit]
Description=Cthulhu - Angel %i

[Service]
ExecStart=/usr/bin/cthulhu-angel -c /etc/cthulhu/angel/%i.toml
Environment="RUST_BACKTRACE=1"

[Install]
WantedBy=multi-user.target
